@using WebApplication1.Service

@inject CalculationService calculationService
@{
    var data = calculationService.Calculate();     
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
</head>
<body>
<header>
    <h3>Backend1</h3>
    <a href="@Url.Action("Index", "Home")">Home</a>
</header>
<main>
    <h1>AccsessServiceDirectly</h1>
    <p>Rand Value First: @data["first"]</p>
    <p>Rand Value Second: @data["second"]</p>
    <p>Add:</p>
    <p>@data["first"] + @data["second"] = @data["sum"]</p>
    <p>Mul:</p>
    <p>@data["first"] * @data["second"] = @data["mul"]</p>
    <p>Div:</p>
    <p>@data["first"] / @data["second"] = @data["divide"]</p>
</main>
</body>
</html>